@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: retro;
    src: url("../pages/fonts/GTPressuraMono.woff");
  }

  @font-face {
    font-family: heading;
    src: url("../pages/fonts/Plaak-SemicondensedRegular.woff");
  }


*{
    font-family: retro;
}

.heading{
    font-family: heading;
}

.bgp{
  background-image: url("../../public/Mask\ group.png");
  background-repeat: no-repeat, repeat;
  background-blend-mode: multiply;
  background-size: cover;
}
.bgpl{
  background-image: url("../../public/image\ 12.png");
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-size: contain;
}
.bgpr{
  background-image: url("../../public/image\ 13.png");
  background-repeat: no-repeat, repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
.bgc{
  background-image: url("../../public/image\ 16.png");
  background-repeat: no-repeat, repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}